
<h1>Restaurants</h1>
<button class="close-btn" routerLink="/mainhome" (click)="closeRestaurantGrid()">close</button>
<div class="restaurant-container">
  <div class="restaurant-card" *ngFor="let res of restaurant$ | async">
        <div class="image-container">
            <img [src]="res.imageUrl" alt="{{ res.name }}" class="restaurant-image">
    </div>
    <div class="restaurant-info">
      <h3>{{ res.name }}</h3>
      <p>{{ res.address }}</p>
      <p>Phone: {{ res.phonenumber }}</p>
      <button (click)="showFoodDetails(res.rid)">View Foods</button>
    </div>
  </div>
</div>

<!-- Conditionally display foods of a restaurant -->
<div *ngIf="selectedRestaurantId">
  <h2>Foods from {{ selectedRestaurantName }}</h2>
  <div class="food-container">
    <div class="food-card" *ngFor="let food of foods$ | async">
      <div class="food-img">
        <img [src]="food.imageUrl" alt="{{ food.name }}" /> <!-- Assuming each food item has an image -->
      </div>
      <div class="food-info">
        <h4>{{ food.name }}</h4>
        <p>{{ food.description }}</p>
        <p>Price: {{ food.price }}</p>
        <button class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
  </div>
</div>