    <div class="home">
        <!-- Image Section -->
        <div class="image-container">
          <img src="assets/images/food.jpg" class="homepage-image"/>
      
          <!-- Text and buttons positioned on top of the image -->
          <div class="overlay-content">
            <h1>Welcome to My Food App</h1>
            
            <button routerLink="/">Home</button>
    <button routerLink="/about">About us</button>
    <button routerLink="/login">Login</button>
    <button routerLink="/register">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      